@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&family=Ubuntu:wght@700&display=swap");
* {
	padding: 0;
	margin: 0;
}

$main-color: #d6d4c4;
$accent-color: #41533b;
$output-color: #9e9a75;

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 98vh;
	background-color: $main-color;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: $accent-color;
	padding: 20px;

	&__title {
		font-family: "Ubuntu", sans-serif;
		color: $main-color;
		font-weight: 900;
	}
}
%border {
	border: 2px solid $accent-color;
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&__translation {
		display: flex;
		flex-grow: 1;
		width: 99%;
		max-height: 50vh;
	}
	& h2 {
		padding: 20px;
		font-size: 19pt;
		color: $accent-color;
	}
	& p {
		padding: 20px;
		font-size: 15pt;
		color: $accent-color;
	}
}

%translation {
	margin-left: 10px;
	flex-grow: 1;
	resize: none;
	@extend %border;
	min-width: calc(50% - 10px);
	padding: 5px;
	max-height: 80%;
	box-sizing: border-box;
	overflow-y: scroll;
	font-size: 20pt;
}

#input {
	@extend %translation;
}

#output {
	background-color: $output-color;
	overflow-wrap: break-word;
	@extend %border;
	@extend %translation;
	letter-spacing: 6px;
}

.footer {
	background-color: $accent-color;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	color: $main-color;
	text-align: center;
}
